<%= session[:flash] %>

<h2>Log into your account</h2>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <div>
  Enter email address: <input name=email placeholder="email@address.com">
  </div>
  <div>
  Enter password: <input type="password" name=password placeholder="password">
  </div>
  <div>
  <input class="btn btn-primary" type=submit value="login">
  <% end %>
 <%= link_to "Create a new user", new_user_path, class: "btn btn-primary" %>
</div>
