<h2>Contact Us</h2>
<br>
<br>
<br>
Email
  <ul>
    For Customer Service: <br>
    <ul>
      <li>customer.service@socialeats.com</li> <br>
    </ul>
    For Techinical Support: <br>
    <ul>
      <li>tech.support@socialeats.com</li> <br>
    </ul>
    For Partnership Opportunities: <br>
    <ul>
      <li>business.connect@socialeats.com</li> <br>
    </ul>
    For Advertising Opportunities: <br>
    <ul>
      <li>ad.connect@socialeats.com</li> <br>
    </ul>
  </ul>

This site was built by:
<ul>
  <li>Justin Nazari</li>
  <li>Kristin Donovan</li>
  <li>Lamine Ndaw</li>
  <li>Will Schneekloth</li>
</ul>
