<h2>All the users!!!</h2>


<% @users.each do |user| %>
<div>
  <%= link_to user.full_name, user  %>
</div>


<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.full_name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<% end %>
