
  <h1>SocialEats</h1>
  <p>Eat Socially!</p>
  <p>
    <%= link_to "Log into your account", login_path, class: "btn btn-primary" %>
    <%= link_to "Create a new account", new_user_path, class: "btn btn-primary" %><br>
    <%= link_to "Continue with Facebook", '/auth/facebook', class: 'btn btn-primary' %>
  </p>
