<h1> Edit <%= @event.name %></h1>

<%= render 'edit_form' %>


<%= link_to "Delete Event", event_path, method: :delete, :class => "btn btn-danger" %>

<%= link_to "Cancel Edit", event_path, :class => "btn btn-danger" %>
