<div class="row">
<div class="text-center">
<h1>Events going on right now</h1><br>
<%= link_to "New Event", new_event_path, class:"btn btn-primary" %>
</div>
</div>
<br>
  <div class="row">
  <% @users.each do |user| %>
    <% user.upcoming_events.each do |event| %>
  <div class="col-md-4">
    <h2><%= event.host.full_name %></h2>
    <ul>
    <li> <%= link_to event.name, event_path(event) %> </li>
    <li><%= link_to event.location.name, location_path(event.location.name) %></li>
  </ul>
</div>
  <% end %>
  <% end %>

</div>
