/*
*= require selectize
*= require selectize.default
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "mixins";
@import "type";
@import "animate";
@import "partials/bootstrap-components";

// includes
@import "partials/shared";
@import "partials/menu";
@import "partials/sidebar";

// pages
@import "partials/main-content";
@import "partials/single";
@import "partials/favorites";
@import "partials/category";
@import "partials/contact";
@import "partials/author";
@import "partials/alt-home";
@import "partials/page-404";
@import "nojs";

.field_wth_errors label{
  display: inline;
  padding: 2px;
  background-color: red;
}

.field_wth_errors input[type="text"] {
  display: inline;
}

.field_wth_errors input[type="password"] {
  display: inline;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

input#search_business {
  background-image: url(http://rails-yelp.herokuapp.com/assets/burst_tiny-e3efdd778ee6ed3ac31815e56aace16a.png);
  background-repeat: no-repeat;
  background-position: right;
  text-align:right;
  text-indent: 16px;
  direction:rtl;
}
input#search_location {
  text-align:right;
}


input[type='text']:focus{
text-align:left;
}
