
<h1> All Locations</h1>

<% @locations.each do |location| %>
<br>
  <h4><%= link_to location.name, location_path(location) %></h4>
  <%= location.address %><br>
  <br>
  <div class="pull-left">
   <%= link_to like_location_path(location, likes: true), class:"glyphicon glyphicon-thumbs-up", method: :post do %>
     <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= location.likes_message(current_user) %>
</div>
  <br>
  <br>
<% end %>
